<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OlimpiApp - Web</title>
</head>
<body>
    <header>
        <h1>🚧 OlimpiApp - Web en construcción... 🚧</h1>
        <nav>
            <a href="/admin">Consola de Admin. Django</a> - 
            <a href="https://github.com/Canexy/Django_OlimpiApp">Github 'Main'</a> - 
            <a href="https://github.com/Canexy/Django_OlimpiApp/tree/testing">Github 'Testing'</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Mario C. - 2025</p>
    </footer>
</body>
</html>
